@import "tailwindcss";

@theme {
    --color-background-body: #f4f9fd;
    --color-sidebar-shadow-overlay: 0 6px 58px 0 rgba(196, 203, 214, 0.1);
    --color-sidebar-item: #7d8592;
    --color-sidebar-item-active: #3f8cff;
    --color-sidebar-button-shadow-overlay: 0 6px 12px 0 rgba(63, 140, 255, 0.26);

    --breakpoint-lg: 90rem;
}

button {
    @apply cursor-pointer;
}
